---
title: Aluminum Cylinder Head
slug: aluminum-cylinder-head
position: 13
listed: true
published: true
is_layout: false
seo_title: Aluminum Cylinder Head
editable_elements:
  main/content: '<p><img class="wysiwyg-float-left" title="43-Heunisch_Logo.JPG" alt="undefined"
    src="/samples/assets/43-Heunisch_Logo.JPG">&nbsp;Permanent Mold Aluminum Cylinder&nbsp;
    Head<br><br>Approx. Weight:  3.5 lbs.</p><p><br></p><p><br></p><p><img title="50-Al_cylinder_head.jpg"
    alt="undefined" src="/samples/assets/50-Al_cylinder_head.jpg"><br></p><p><br></p><p><br></p><p><br></p>'
---
{% extends "layouts/default" %}