---
title: Aluminum Pump Housing
slug: aluminum-pump-housing
position: 12
listed: true
published: true
is_layout: false
seo_title: Aluminum Pump Housing
editable_elements:
  main/content: '<img class="wysiwyg-float-left" title="43-Heunisch_Logo.JPG" alt="undefined"
    src="/samples/assets/43-Heunisch_Logo.JPG">&nbsp;Permanent Mold Aluminum Pump
    Housing<br><br>Approx. Weight:  13 lbs.<div><br></div><div><br></div><div><br></div><div><br></div><div><img
    title="51-Al_Pump_Housing.jpg" alt="undefined" src="/samples/assets/51-Al_Pump_Housing.jpg"><br></div>'
---
{% extends "layouts/default" %}