---
title: Aluminum Compressor Case
slug: aluminum-compressor-case
position: 11
listed: true
published: true
is_layout: false
seo_title: Aluminum Compressor Case
editable_elements:
  main/content: '<img class="wysiwyg-float-left" title="43-Heunisch_Logo.JPG" alt="undefined"
    src="/samples/assets/43-Heunisch_Logo.JPG">&nbsp;Permanent Mold Aluminum<br><br>Compressor
    Housing with Cast Iron Inserts<br><br>Approx. Weight:  23 lbs.<div><br></div><div><br></div><div><img
    title="48-Al_compressor_housing.jpg" alt="undefined" src="/samples/assets/48-Al_compressor_housing.jpg"><br></div>'
---
{% extends "layouts/default" %}