---
title: 'Gray Iron: Differential'
slug: gray-iron-differential
position: 8
listed: true
published: true
is_layout: false
seo_title: 'Gray Iron: Differential'
editable_elements:
  main/content: '<img class="wysiwyg-float-left" title="43-Heunisch_Logo.JPG" alt="undefined"
    src="/samples/assets/43-Heunisch_Logo.JPG">Gray Iron Differential Housing<br><br>Approx.
    Weight:  530 lbs.<div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><img
    title="49-diff_housing.jpg" alt="undefined" src="/samples/assets/49-diff_housing.jpg"><br></div>'
---
{% extends "layouts/default" %}