---
title: 'Gray Iron: Compressor'
slug: gray-iron-compressor
position: 7
listed: true
published: true
is_layout: false
seo_title: 'Gray Iron: Compressor'
editable_elements:
  main/content: '<img class="wysiwyg-float-left" title="43-Heunisch_Logo.JPG" alt="undefined"
    src="/samples/assets/43-Heunisch_Logo.JPG">&nbsp;Gray Iron Compressor Housing<br><br>Approx.
    Weight:  200 lbs.<div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><img
    title="47-compressor_housing.jpg" alt="undefined" src="/samples/assets/47-compressor_housing.jpg"><br></div>'
---
{% extends "layouts/default" %}