---
title: High Conductivity Copper Part
slug: high-conductivity-copper-part
position: 14
listed: true
published: true
is_layout: false
seo_title: High Conductivity Copper Part
editable_elements:
  main/content: '<img class="wysiwyg-float-left" title="62-topa.jpg" alt="undefined"
    src="/samples/assets/62-topa.jpg">Conversion:  Welded Assembly<div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><img
    title="62-high_cond_copper.jpg" alt="undefined" src="/samples/assets/62-high_cond_copper.jpg"><br></div><div><br></div><div>Representing
    a breakthrough in permanent mold casting technology, this part was deemed uncastable
    as one piece within our industry. Measuring over 23" (58.42 cm) long, this telecommunications
    part was manufactured in one piece at dramatically lower costs vs. fabrication.
    High conductivity pure copper (min. 99% IACS).<br></div>'
---
{% extends "layouts/default" %}