---
title: 'Malleable Iron: Electrical Fitting'
slug: malleable-iron-electrical-fitting
position: 4
listed: true
published: true
is_layout: false
seo_title: 'Malleable Iron: Electrical Fitting'
editable_elements:
  main/content: <img class="wysiwyg-float-left" title="17-vslogo.jpg" alt="undefined"
    src="/samples/assets/17-vslogo.jpg"><br><div><br></div><div>Thin Walls and Fine
    Features</div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><img
    title="6-Thin_Wall.JPG" alt="undefined" src="/samples/assets/6-Thin_Wall.JPG"><br></div><div><br></div><div>The
    part shown here is cast without core and has wall thickesses below 0.100" (2.5
    mm).  The small window is less than ⅜" (10 mm) wide.  The small section on the
    bottom of the wall is less than ⅛" thick.  Again, the entire part is cast in green-sand
    without core...<br><br>Can your green-sand foundry do that?<br></div>
---
{% extends "layouts/default" %}