---
title: 'Malleable Iron: Skeleton Keys'
slug: malleable-iron-skeleton-keys
position: 0
listed: true
published: true
is_layout: false
seo_title: 'Malleable Iron: Skeleton Keys'
editable_elements:
  main/content: <p><img class="wysiwyg-float-left" title="17-vslogo.jpg" alt="undefined"
    src="/samples/assets/17-vslogo.jpg">Original VS Casting:<br><br>Skeleton KEYS<br></p><p><br></p><p><br></p><p><br></p><p><img
    title="17-Skeleton_Keys.JPG" alt="undefined" src="/samples/assets/17-Skeleton_Keys.JPG"><br></p><p><br></p><p>We
    use the finest sand to produce cosmetic skeleton keys for doors and furniture.  We
    can plate the parts and provide zinc, nickel or chrome finishes.  Our keys are
    used in doors that may be exposed to high temperature - like furnace room doors.<br></p>
---
{% extends "layouts/default" %}