---
title: 'Malleable Iron: Nest Caps'
slug: malleable-iron-nest-caps
position: 1
listed: true
published: true
is_layout: false
seo_title: 'Malleable Iron: Nest Caps'
editable_elements:
  main/content: <img class="wysiwyg-float-left" title="17-vslogo.jpg" alt="undefined"
    src="/samples/assets/17-vslogo.jpg"><br><div><br></div><div>Conversion from Forging
    and Stamping<br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><img
    title="31-Small_Nest_Cap.jpg" alt="undefined" src="/samples/assets/31-Small_Nest_Cap.jpg">&nbsp;
    &nbsp; &nbsp;<img title="31-Triangular_Nest_Cap.jpg" alt="undefined" src="/samples/assets/31-Triangular_Nest_Cap.jpg">&nbsp;
    &nbsp; &nbsp;<img title="31-240035.jpg" alt="undefined" src="/samples/assets/31-240035.jpg"><br></div><div>VS
    produces nest caps and stacking caps used in steel pallet constructions.  Parts
    are cas in a decarburized iron that can be welded like steel and can be substituted
    for forged or stamped versions.  We keep 2-1/2" and 2" square sizes in stock,
    available for your purchase.  Other items can be made to order.<br></div>
---
{% extends "layouts/default" %}