---
title: 'Malleable Iron: Wood Connectors'
slug: malleable-iron-wood-connectors
position: 3
listed: true
published: true
is_layout: false
seo_title: 'Malleable Iron: Wood Connectors'
editable_elements:
  main/content: <p><img class="wysiwyg-float-left" title="bts_logo.jpg" alt="undefined"
    src="/samples/assets/bts_logo.jpg">Wood Connectors  (Toothed Plate Connectors)<br></p><p><br></p><p><br></p><p>These
    products allow a simple way to connect thick wood sections safely.  Available
    Sizes are 50mm, 65mm, 80mm, 95mm and 115 mm.<br></p><p><br></p><p>&nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;&nbsp;<img title="42-wood_conn_1.jpg" alt="undefined" src="/samples/assets/42-wood_conn_1.jpg">&nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img title="58-wood_conn_2.jpg"
    alt="undefined" src="/samples/assets/58-wood_conn_2.jpg"><br></p><p>One Sided
    Wood connector  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    Two sided Wood connectors.<br></p>
---
{% extends "layouts/default" %}