---
title: 'Malleable Iron: Exhaust Flange'
slug: malleable-iron-exhaust-flange
position: 5
listed: true
published: true
is_layout: false
seo_title: 'Malleable Iron: Exhaust Flange'
editable_elements:
  main/content: <img title="17-vslogo.jpg" alt="undefined" src="/samples/assets/17-vslogo.jpg">&nbsp;
    &nbsp; &nbsp; &nbsp;&nbsp;<img title="27-Flange.JPG" alt="undefined" src="/samples/assets/27-Flange.JPG"><div><br></div><div>We
    took a rough casting (shown in the back) that required extensive machining and
    substituted it with a fine, calibrated casting.  All machining was eliminated
    and a fully functional raw casting that is far more cosmetically appealing.  The
    part is fully weldable and weighs almost 10% less than steel.<br><br>The customer
    also enjoyed the quality of his logo on the casting!<br></div>
---
{% extends "layouts/default" %}