---
title: 'Malleable Iron: Stamped Hinge'
slug: malleable-iron-stamped-hinge
position: 6
listed: true
published: true
is_layout: false
seo_title: 'Malleable Iron: Stamped Hinge'
editable_elements:
  main/content: <img class="wysiwyg-float-left" title="17-vslogo.jpg" alt="undefined"
    src="/samples/assets/17-vslogo.jpg">&nbsp;&nbsp;Casting Conversion:<br><br>Stamped
    Refrigerator Hinge Assembly<div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><img
    title="29-Refrigerator_Hinge.JPG" alt="undefined" src="/samples/assets/29-Refrigerator_Hinge.JPG"><br></div><div><br></div><div>This
    picture shows the old hinge on the right, which was produced as a stamped and
    machined fabrication.  Multiple operations (including two welding processes) result
    in stack-up tolerances.  Our casting on the left is a raw casting alternative.  More
    precise and stronger than the old version at a far reduced price.<br></div>
---
{% extends "layouts/default" %}