---
title: 'Malleable Iron: Integrated Rivets'
slug: malleable-iron-integrated-rivets
position: 2
listed: true
published: true
is_layout: false
seo_title: 'Malleable Iron: Integrated Rivets'
editable_elements:
  main/content: <img class="wysiwyg-float-left" title="17-vslogo.jpg" alt="undefined"
    src="/samples/assets/17-vslogo.jpg">&nbsp;<div><br></div><div><br></div><div>Windlock
    with Cast Rivets</div><div><br></div><div><br></div><div><br></div><div><br></div><div><br></div><div><img
    title="10-Rivet.JPG" alt="undefined" src="/samples/assets/10-Rivet.JPG"><br></div><div><br></div><div>Castings
    can produce small, deformable sections that can be used instead of rivets.  This
    eliminates the need for supplemental parts and simplifies assembly.  Shown as
    an example is a hinge used for an industrial louvered door.<br><br>..........eliminate
    rivets!<br></div>
---
{% extends "layouts/default" %}