---
title: Nest Caps
slug: nest-caps
position: 0
listed: true
published: true
is_layout: false
seo_title: Nest Caps
editable_elements:
  main/content: <div><img title="56-cclogoWEBONLY.jpg" alt="undefined" src="/samples/assets/56-cclogoWEBONLY.jpg"><br></div><div><br></div><div><strong>Nesting
    Caps / Stacking Caps in Inventory -&nbsp;Conversion from Forging and Stamping</strong><br></div><div><strong><br></strong></div><div><strong><img
    title="31-Small_Nest_Cap.jpg" alt="undefined" src="/samples/assets/31-Small_Nest_Cap.jpg">&nbsp;
    &nbsp; &nbsp;<img title="31-Triangular_Nest_Cap.jpg" alt="undefined" src="/samples/assets/31-Triangular_Nest_Cap.jpg">&nbsp;
    &nbsp; &nbsp;<img title="31-240035.jpg" alt="undefined" src="/samples/assets/31-240035.jpg"><br></strong></div><div><br></div>VS
    produces nest caps and stacking caps used in steel pallet constructions.  Parts
    are cast in a decarburized iron that can be welded like steel and can be substituted
    for forged or stamped versions.<br><br>We keep 2-1/2" and 2" square sizes in stock,
    available for your purchase.  Other items can be made to order.
---
{% extends "layouts/default" %}