---
title: Simulation of Processing and Performance
slug: simulation-of-processing-and-performance
position: 5
listed: true
published: true
is_layout: false
seo_title: Simulation of Processing and Performance
editable_elements:
  main/content: VS provides complete simulation services from part design (left picture)
    to simulation of casting process (middle picture) to evaluation of physical performance
    of the component (right picture).<div><br></div><div><img title="66-Design_sim.JPG"
    alt="undefined" src="/samples/assets/66-Design_sim.JPG">&nbsp; &nbsp; &nbsp;<img
    title="66-mold_sim.JPG" alt="undefined" src="/samples/assets/66-mold_sim.JPG">&nbsp;
    &nbsp; &nbsp;<img title="66-simul.JPG" alt="undefined" src="/samples/assets/66-simul.JPG"><br><div><br></div><div>Provide
    us with samples, drawings or digital files - and we can help you design a sound
    casting and engineered component.<br></div></div>
---
{% extends "layouts/default" %}
