---
title: Simulation of Processing and Performance
slug: simulation-of-processing-and-performance
position: 5
listed: true
published: true
is_layout: false
seo_title: Simulation of Processing and Performance
editable_elements:
  main/content: VS provides complete simulation services from part design (left picture)
    to simulation of casting process (middle picture) to evaluation of physical performance
    of the component (right picture).<div><br></div><div>Provide us with samples,
    drawings or digital files - and we can help you design a sound casting and engineered
    component.<br></div>

---
{% extends "layouts/default" %}
