---
title: Wing Nuts
slug: wing-nuts
position: 2
listed: true
published: true
is_layout: false
seo_title: Wing Nuts
editable_elements:
  main/content: Custom Wing Nuts and Screws <br><br>We produce a variety of wing nuts,
    wing screws and custom hardware for your purchase.<div><br></div><div><img title="58-mall_iron_wing_nut.jpg"
    alt="undefined" src="/samples/assets/58-mall_iron_wing_nut.jpg">&nbsp; &nbsp;<img
    title="41-mall_wing_screw.jpg" alt="undefined" src="/samples/assets/41-mall_wing_screw.jpg">&nbsp;
    &nbsp; &nbsp;<img title="41-brass_wing_nut.jpg" alt="undefined" src="/samples/assets/41-brass_wing_nut.jpg">&nbsp;
    &nbsp; &nbsp;<img title="41-wing_nut_with_Hex.jpg" alt="undefined" src="/samples/assets/41-wing_nut_with_Hex.jpg"><br><div><br></div><div>Cast
    iron Wing Nut  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Cast Iron Wing Screw  &nbsp;
    &nbsp;  Cast Brass Wing Nut  Wing Nut with Hex<br></div></div>
---
{% extends "layouts/default" %}
