---
title: Wood Connectors
slug: wood-connectors
position: 3
listed: true
published: true
is_layout: false
seo_title: Wood Connectors
editable_elements:
  main/content: <div><img title="56-cclogoWEBONLY.jpg" alt="undefined" src="/samples/assets/56-cclogoWEBONLY.jpg"><br></div><div><br></div>Wood
    Connectors  (Toothed Plate Connectors)<div><br></div><div>These products allow
    a simple way to connect thick wood sections safely.  Available Sizes are 50mm,
    65mm, 80mm, 95mm and 115 mm.</div><div><br></div><div><img title="42-wood_conn_1.jpg"
    alt="undefined" src="/samples/assets/42-wood_conn_1.jpg">&nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img title="58-wood_conn_2.jpg"
    alt="undefined" src="/samples/assets/58-wood_conn_2.jpg"><br><div><br></div><div>One
    Sided Wood connector  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; Two sided Wood connectors.<br></div></div>
---
{% extends "layouts/default" %}