---
title: Wood Connectors
slug: wood-connectors
position: 3
listed: true
published: true
is_layout: false
seo_title: Wood Connectors
editable_elements:
  main/content: Wood Connectors  (Toothed Plate Connectors)<br><br> <br><br>These
    products allow a simple way to connect thick wood sections safely.  Available
    Sizes are 50mm, 65mm, 80mm, 95mm and 115 mm.<div><br></div><div>One Sided Wood
    connector  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Two
    sided Wood connectors.<br></div>

---
{% extends "layouts/default" %}
