---
title: BTS GmbH
slug: bts-gmbh
position: 2
listed: true
published: true
is_layout: false
seo_title: BTS GmbH
editable_elements:
  main/content: Located in Saarbug, Germany, BTS manufactures and distributes fastening
    components for the European, African and Middle East markets.<br><br>From small
    wing nuts and wire clamps to large wing screws and concrete dowels, we do it all!<br><br><a
    href="http://www.bts-saarburg.de">www.bts-saarburg.de</a>

---
{% extends "layouts/default" %}
