---
title: Burnstein von Seelen
slug: burnstein-von-seelen
position: 3
listed: true
published: true
is_layout: false
seo_title: Burnstein von Seelen
editable_elements:
  main/content: '<div><img title="62-topa.jpg" alt="undefined" src="/samples/assets/62-topa.jpg"><br></div>Burnstein
    von Seelen produces the highest quality permanent mold copper and copper base
    alloy castings.  Our portfolio includes high-conductivity copper, brass, aluminum
    bronze, <br><br>The facility includes in-house CNC machining and plating departments.  Parts
    can be supplied raw or machined, silver or tin plated and assembled.<div><br></div><div><img
    title="39-bronze_parts.jpg" alt="undefined" src="/samples/assets/39-bronze_parts.jpg"><br><br><br><br>Currently
    featured application:  23" Telecommunication Part</div>'
---
{% extends "layouts/default" %}
