---
title: Jeners
slug: jeners
position: 5
listed: true
published: true
is_layout: false
seo_title: Jeners
editable_elements:
  main/content: <img class="wysiwyg-float-left" title="21-jenersoben.jpg" alt="undefined"
    src="/samples/assets/21-jenersoben.jpg">&nbsp; JENERS GmbH has established itself
    as a leader in the zinc die casting industry since 1930 through the production
    of precise and unsurpassed details to their castings.  Two facilities in Velbert
    and Wülfrath, Germany, produce die castings according to DIN EN ISO 9001/2000
    with part weights from 3 grams to over 4 kilograms.<br><br>The hot box equipment
    ranges in sizes from 100 x 100 to 700 x 700mm and a clamping force up to 200 tons.  All
    secondary operations can be performed on in-house CNC controlled machining, turning
    and milling.<br><br>Capabilities range from product development, tooling design
    and testing.  We can provide surface treatments, assembly and customer specific
    packaging.   JENERS works closely with its customers during the design and tooling
    construction phase so that the strictest of time tables can be adhered to.<br><br>Please
    consider JENERS for your zinc die casting needs.<br><br><a href="http://www.jeners.com">http://www.jeners.com</a>
---
{% extends "layouts/default" %}
