---
title: VS Guss AG
slug: vs-guss-ag
position: 0
listed: true
published: true
is_layout: false
seo_title: VS Guss AG
editable_elements:
  main/content: 'Malleable Iron Castings less than 5 lbs.<br><br>VS Guss AG is the
    produceer of the finest malleable iron sand castings in the world.<br><br>For
    over 100 years, VS has produced the thinnest functional wall thicknesses and casting
    detail only known from investment or die casting processes.  VS produces on equipment
    designed for high volumes and has production rates of up to 15 parts per second
    (!).<br><br>Take a look at some applications which exhibit our capabilities:<div><br></div><div><img
    title="14-produkt1_small.gif" alt="undefined" src="/samples/assets/14-produkt1_small.gif">&nbsp;
    &nbsp; &nbsp;<img title="14-produkt2_small.gif" alt="undefined" src="/samples/assets/14-produkt2_small.gif">&nbsp;
    &nbsp; &nbsp;<img title="14-produkt3_small.gif" alt="undefined" src="/samples/assets/14-produkt3_small.gif">&nbsp;
    &nbsp; &nbsp;<img title="14-produkt4_small.gif" alt="undefined" src="/samples/assets/14-produkt4_small.gif"></div><div><br></div><div><img
    title="14-produkt5_small.gif" alt="undefined" src="/samples/assets/14-produkt5_small.gif">&nbsp;
    &nbsp; &nbsp;<img title="14-produkt6_small.gif" alt="undefined" src="/samples/assets/14-produkt6_small.gif">&nbsp;
    &nbsp; &nbsp;<img title="14-produkt7_small.gif" alt="undefined" src="/samples/assets/14-produkt7_small.gif">&nbsp;
    &nbsp; &nbsp;<img title="14-produkt8_small.gif" alt="undefined" src="/samples/assets/14-produkt8_small.gif"><br><div><br></div><div>Currently
    featured Capability:  Cast Rivets<br></div></div>'
---
{% extends "layouts/default" %}
