---
title: Gray Iron Castings
slug: gray-and-ductile-iron-castings
position: 1
listed: true
published: true
is_layout: false
seo_title: Gray and Ductile Iron Castings
editable_elements:
  main/content: <div><img title="23-Gray_iron_application_..." alt="undefined" src="/samples/assets/23-Gray_iron_application_3.jpg"><br></div>Heunisch
    has built a reputation for producing sophistictated, core-intensive gray and ductile
    iron castings.  Automated molding lines with the following flask sizes are available:<br><br>1300  &nbsp;
    x  1060   x  420/420<br>&nbsp; 850  &nbsp; x  &nbsp; 650   x  300/300 <br>&nbsp;
    470  &nbsp; x  &nbsp; 420   x  200/200<br>We are competitive for cases and housings
    up to 600kg.
---
{% extends "layouts/default" %}