---
title: Gray Iron Castings
slug: gray-and-ductile-iron-castings
position: 1
listed: true
published: true
is_layout: false
seo_title: Gray and Ductile Iron Castings
editable_elements:
  main/content: <div><img class="wysiwyg-float-left" title="13-70-schlauch.jpg" alt="undefined"
    src="/samples/assets/13-70-schlauch.jpg"><br></div><div>VS can produce any gray
    iron grade with casting&nbsp; weight up to 2,000g (~4 lbs.).</div><div><br></div><div><br></div><div>The
    finest molding sand allows the manufacture of fine features and detailed markings.</div><div><br></div><div><br></div><div>Why
    not add your logo to your product for some valuable exposure and free advertising.<br></div><div><br></div>
---
{% extends "layouts/default" %}