---
title: Malleable Iron Specifications
slug: malleable-iron-specifications
position: 0
listed: true
published: true
is_layout: false
seo_title: Malleable Iron Specifications
editable_elements:
  main/content: <div><img title="32-ASTMlogoB.jpg" alt="undefined" src="/samples/assets/32-ASTMlogoB.jpg">&nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp;<img title="32-din_logo.gif" alt="undefined" src="/samples/assets/32-din_logo.gif">&nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img title="32-sae.gif" alt="undefined" src="/samples/assets/32-sae.gif"><br></div>VS
    Guss AG pours all commercial malleable grades. This includes grades specified
    by ASTM, DIN, SAE and custom grades that can be VS pours both whiteheart and blackheart
    malleable iron. Blackheart is the "commercial" grade produced and commercially
    used everywhere and includes ferritic and pearlitic grades. Whiteheart malleable
    is a more seldomly used grade that includes a grade utilized heavily in welding
    applications and for components which require extreme plastic deformation.<br><br>VS
    can also provide any blackheart grade within any 60 Brinnell hardness points.<br><br>VS
    is certified according to following standards:<div><ul><li><a href="/samples/assets/DIN_EN_ISO_9001-2008.pdf">DIN
    ISO 9001</a></li><li><a href="/samples/assets/DIN_EN_ISO_50001-2011.pdf">DIN ISO
    50001</a></li><li><a href="/samples/assets/DIN_EN_ISO_14001-2009.pdf">DIN ISO
    14001</a></li></ul></div>
---
{% extends "layouts/default" %}