---
title: Material for Welding
slug: material-for-welding
position: 2
listed: true
published: true
is_layout: false
seo_title: Material for Welding
editable_elements:
  main/content: <div><img title="9-scan023.jpg" alt="undefined" src="/samples/assets/9-scan023.jpg"><br></div>We
    can produce a steel-like microstructure from a decarburized mallealbe iron grade.  The
    material has exceptional ductility and can be welded like any low carbon steel
    product.<br><br>The material is an ideal substitute for steel forgings, stampings
    or other parts that are welded.
---
{% extends "layouts/default" %}