---
title: Permanent Mold Aluminum
slug: permanent-mold-aluminum
position: 3
listed: true
published: true
is_layout: false
seo_title: Permanent Mold Aluminum
editable_elements:
  main/content: <div><img title="28-Al_compressor_housing.jpg" alt="undefined" src="/samples/assets/28-Al_compressor_housing.jpg"><br></div>Heunisch
    produces permanent mold aluminum in the Czech Republic. The German management
    team assures high quality production and on time delivery.  The maximum mold size
    is 860 x 800 x 250 mm with a maximum part size of approximately 35 kg.  On site
    machining, assembly and NDT facilities provide the capabilities of a full system
    supplier.
---
{% extends "layouts/default" %}
