---
title: Applications
slug: applications
position: 9
listed: true
published: true
is_layout: false
seo_title: Applications
editable_elements:
  main/content: Castings provide customized solutions with minimal material loss.   Basically,
    all commercially available materials can be cast.<br><br>Choices of materials
    include low cost iron grades, weldable iron and steel grades, light-weight aluminum
    and magnesium alloys, copper alloys and high-conductivity copper grades and near-net
    shape zinc, aluminum and stainless steel materials.<br><br>Let our experts help
    you find the right material and design a cost effective casting!<div><br></div><div><img
    title="57-small_elbow.JPG" alt="undefined" src="/samples/assets/57-small_elbow.JPG">&nbsp;
    &nbsp; &nbsp;<img title="57-crank_case_small.JPG" alt="undefined" src="/samples/assets/57-crank_case_small.JPG">&nbsp;
    &nbsp; &nbsp;<img title="50-Al_cylinder_head.jpg" alt="undefined" src="/samples/assets/50-Al_cylinder_head.jpg"><br></div><div>&nbsp;
    &nbsp; &nbsp; Malleable Iron&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Gray
    and Ductile Iron&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;Aluminum <br></div><div><br></div><div><img title="57-Zinc___Aluminum_Die_Ca..."
    alt="undefined" src="/samples/assets/57-Zinc___Aluminum_Die_Cast.jpg">&nbsp; &nbsp;
    &nbsp;<img title="57-casta.jpg" alt="undefined" src="/samples/assets/57-casta.jpg"><br></div><div>&nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Zinc&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Copper<br></div><div><br></div><div><br></div>
---
{% extends "layouts/default" %}