---
title: History of VS America, Inc.
slug: history-of-vs-america
position: 0
listed: true
published: true
is_layout: false
editable_elements:
  main/content: 'VS America Inc. was established in 1979 to coordinate the North American
    sales for <a href="http://vsguss.com/" title="Link: http://vsguss.com/">VS Guss
    AG</a>, a leading malleable iron foundry located in Solingen, Germany.<br><br>Since
    then, VS America has grown significantly and diversified.  We are the North American
    sales, marketing and engineering link for other major metal producers including
    <a target="_blank" href="http://heunisch-guss.com/">Giesserei Heunisch GmbH.</a><br><br>In
    order to meet the needs of current and new customers, we have expanded to import
    castings out of the Far East and also offer high conductivity copper and most
    copper alloys produced via permanent-mold casting.<br><br>We assist in the entire
    sourcing decision, from the design phase to selection of process and material,
    prototype tooling and sampling, quality control and offer logistical support including
    consigning product and warehousing for JIT deliveries.<br><br><br>'
---
{% extends "layouts/default" %}
