---
title: History of VS America, Inc.
slug: history-of-vs-america
position: 1
listed: true
published: true
is_layout: false
editable_elements:
  main/content: "<h3>FROM TRADITIONAL COMPANY TO GLOBAL PLAYER</h3>\r\n<p>How did
    a regional key factory turn into a global player? It all \r\nbegan with a shared
    idea: in 1923 the merger of the companies Carl \r\nWipperfürth and F. W. Gottfried
    resulted in the founding of Vereinigte \r\nSchlüsselfabriken AG, with headquarters
    in Solingen. Products \r\nmanufactured were primarily keys and foundry parts.</p>\r\n<h3>PRODUCTION
    INCREASED CONTINUOUSLY</h3>\r\n<p>Following the resumption of production in 1946
    there was an ongoing \r\nrise in productivity. The ongoing modernisation process
    enabled capacity\r\n to be significantly expanded. The specialisation in the manufacture
    of \r\nhigh-precision, thin-walled small cast pieces with a high surface \r\nquality
    in black and white heart malleable iron as well as grey-cast \r\npieces was characteristic
    of the successful company policy.</p>\r\n<h3>EXPANSION AND A CHANGE OF NAME</h3>\r\n<p>In
    1983 the company expanded with the establishment of BTS GmbH in \r\nSaarburg,
    which saw the company significantly extend its activities in \r\nthe mechanical
    post-processing of cast products. In 1996 there was a \r\nchange of name to “VS
    Guss AG”. The modern name reflects the evolution \r\nfrom a specialist, traditional
    company to a global supplier to a varied \r\nfield of industry.</p>\r\n<h3>FUTURE-ORIENTED
    REORGANISATION</h3>\r\n<p>Within the scope of a future-oriented reorganisation
    the entire \r\ncasting operations of VS Guss AG were transferred to VS GmbH &amp;
    Co. \r\nKG on 01/01/2014. VS GmbH &amp; Co. KG is a wholly-owned subsidiary of
    \r\nVS Guss AG.</p>\r\n<p>Today, as an iron / malleable iron foundry VS GmbH &amp;
    Co. KG has \r\nstate-of-the-art production facilities and development tools. Innovation\r\n
    from tradition – the company has remained true to its roots.</p>"
---
{% extends "layouts/default" %}