---
title: Home page
slug: index
position: 0
listed: false
published: true
is_layout: false
editable_elements:
  main/content: <p class="wysiwyg-text-align-left">Providing solutions to your casting
    needs</p><div class="wysiwyg-text-align-left"><img class="wysiwyg-float-left"
    title="29.jpg" alt="undefined" src="/samples/assets/29.jpg"><br></div><div class="wysiwyg-text-align-left">The
    highest quality casting products in malleable iron, gray iron, ductile iron or
    zinc die castings. Specializing in complex and detailed parts.Converting investment
    and shell mold castings to more economical processes.<br><br><strong>We succeed
    with parts where others fail.</strong><br><br><strong>The right casting at the
    right price - ON TIME!</strong><br></div>
---
{% extends "layouts/default" %}
