---
title: Industry Links
slug: industry-links
position: 4
listed: true
published: true
is_layout: false
seo_title: Industry Links
editable_elements:
  main/content: Here is a list of industry related links:<br> <br><a href="http://www.astm.com">www.astm.com</a>  -
    ASTM International<br><a href="http://www.afsinc.com">www.afsinc.com</a> -  American
    Foundry Society<br><a href="http://www.castingsource.com">www.castingsource.com</a>
    - Casting Source Directory<br><a href="http://www.dgv.de">www.dgv.de</a> - German
    Foundry Association<br><a href="http://www.caef-eurofoundry.org">www.caef-eurofoundry.org</a>  -
    Committee of Association of European Foundries <br><a href="http://www.din.de">www.din.de</a>  -
    German Institute for Standardization<br><a href="http://www.sme.org">www.sme.org</a>  -
    Society of Manufacturing Engineers<br><a href="http://www.iso.org">www.iso.org</a>  -
    Interantional Organization for Standardization<br><a href="http://www.sae.org">www.sae.org</a>  -
    SAE International<br><a href="http://www.amm.com">www.amm.com</a>  - American
    Metal Market<br><a href="http://www.disagroup.com">www.disagroup.com</a>  -  Disa
    - Manufacturer of Foundry Equipment<br><a href="http://www.fataaluminium.com/shell.html">www.fataaluminium.com/shell.html</a>  -  FATA
    / Peterle - Manufacturer of Foundry Equipment
---
{% extends "layouts/default" %}
