---
title: Markets Served
slug: markets-served
position: 3
listed: true
published: true
is_layout: false
seo_title: Markets Served
editable_elements:
  main/content: "<p>VS customers are from the following industries:<br><br>Electrical
    Fittings<br>Military Components<br>Fasteners<br>Railroad<br>Mining<br>Transportation<br>Lock
    and Key<br>Automotive<br>Air Cargo<br>Pump and Compressor<br>Farm Equipment<br>Material
    Handling<br>Miscellaneous Hardware<br></p>"
---
{% extends "layouts/default" %}