---
title: Stock Items
slug: stock-items
position: 102
listed: true
published: true
is_layout: false
seo_title: Stock Items
editable_elements:
  main/content: 'VS carries a number of commodity-type castings for your immediate
    release.<br><br>Nest Caps:  Used in construction of steel tube pallets, we release
    quantities in increments of 500 pieces.<br><br>Hand Wheels:  Used for pumps, different
    sizes are released in increments of 25.<br><br>Wood Connectors:  Used in log construction
    (log cabins, roller coasters), sold in increments of 500 pieces.<div><img title="58-wood_conn_2.jpg"
    alt="undefined" src="/samples/assets/58-wood_conn_2.jpg"><img title="58-37-111397.jpg"
    alt="undefined" src="/samples/assets/58-37-111397.jpg"><img title="58-Photo_020.jpg"
    alt="undefined" src="/samples/assets/58-Photo_020.jpg"><img title="58-mall_iron_wing_nut.jpg"
    alt="undefined" src="/samples/assets/58-mall_iron_wing_nut.jpg"><br></div><div><br></div>'
---
{% extends "layouts/default" %}
