---
title: Eliminate Costly Machining
slug: eliminate-costly-machining
position: 0
listed: true
published: true
is_layout: false
seo_title: Eliminate Costly Machining
editable_elements:
  main/content: <div><img class="wysiwyg-float-left" title="Fine featured casting"
    alt="Fine featured casting" src="/samples/assets/6-Thin_Wall.JPG">Thanks to a
    unique ultra fine molding sand and precise molding setup, we can cast features
    and details that others cannot.</div><div><br></div><div>The small window neaer
    the bottom of the picture on the left is roughly 6 x 9 mm (1/4" x 3/8").&nbsp;
    This casting has not been cleaned or ground.</div><div><br></div><div>One machining
    operation saved...</div><div><br></div>
---
{% extends "layouts/default" %}