---
title: 'Malleable Iron: Cast Rivets'
slug: malleable-iron-cast-rivets
position: 1
listed: true
published: true
is_layout: false
editable_elements:
  main/content: <div><img class="wysiwyg-float-left" title="10-Rivet.JPG" alt="undefined"
    src="/samples/assets/10-Rivet.JPG"><br></div>Castings can produce small, deformable
    sections that can be used instead of rivets.  This eliminates the need for supplemental
    parts and simplifies assembly.  Shown as an example is a hinge used for an industrial
    louvered door.
---
{% extends "layouts/default" %}