---
title: 'Malleable Iron: Cast Threads'
slug: malleable-iron-cast-threads
position: 2
listed: true
published: true
is_layout: false
seo_title: 'Malleable Iron: Cast Threads'
editable_elements:
  main/content: <div><img class="wysiwyg-float-left" title="Cast internal thread on
    pipe clamp" alt="Cast internal thread on pipe clamp" src="/samples/assets/11-70-adjustable.jpg">Our
    unique sand mixture provides for exceptional surface finish.</div><div><br></div><br>We
    use similarly fine sand for our shell core production. This allows us to produce
    internal threads, as shown in this picture. Currently we produce internal threads
    for general hardware and construction equipment.<br><div><br></div><div><br></div>Do
    you want to save the machining operation for some internal cores? Ask your VS
    Engineering experts!
---
{% extends "layouts/default" %}