---
title: 'Malleable Iron: Cast Rivets'
slug: malleable-iron-cast-rivets
position: 1
listed: true
published: true
is_layout: false
editable_elements:
  main/content: <div><img class="wysiwyg-float-left" title="Cast rivet" alt="Cast
    rivet" src="/samples/assets/10-Rivet.JPG">We can cast fine precise features due
    to exceptionally fine sand.</div><div><br></div><div>The malleable process provides
    consistent mircrostructure throughout.</div><div><br></div><div>The result is
    a feature that is used as a rivet, replacing the need for a separate rivet and
    its <br></div>
---
{% extends "layouts/default" %}